<header>
    <h1 class="text-center border border-primary bg-info">Cadastre-se</h1>
</header>

<main>
    <div id="formulario" class="container p-5 bg-light text-center">

        <form action="" method="POST">
            <div id="nome" class="mb-3">
                <label class="form-label h5" for="nome">Nome</label>
                <input class="form-control" type="text" id="nome" />
            </div>

            <div id="telefone" class="mb-3">
                <label class="form-label h5" for="telefone">Telefone</label>
                <input class="form-control" type="tel" id="telefone" />
            </div>

            <div id="email" class="mb-3">
                <label class="form-label h5" for="email">Email</label>
                <input class="form-control" type="email" id="email" placeholder="nome@exemplo.com" />
            </div>

            <div id="senha" class="mb-3">
                <label class="form-label h5" for="senha">Senha</label>
                <input class="form-control" type="password" id="senha" />
            </div>

            <div class="form-check text-center">
                <h5 class="form-label h5">Tipo de Registro</h5>
                <input type="checkbox" class="text-center" id=" avaliador">
                <label class="form-check-label h6" for="avaliador">Avaliador</label>
                <br>
                <input type="checkbox" class="text-center" id="estudante">
                <label class="form-check-label h6" for="estudante">Estudante</label>
            </div>


            <div id="botoes" class="container btn-group mb-3 justify-content-center">
                <div id="enviar">
                    <input class="btn btn-success" type="submit" value="Cadastrar" />
                </div>
                <div id="cancelar">
                    <input class="btn btn-danger" type="reset" value="Cancelar" />
                </div>
            </div>
        </form>
    </div>
</main>

<footer class="text-center text-lg-start bg-secondary text-white p-2">
    <div class="text-center p-1">
        <p>© 2021 Copyright: TesteExercicio1.com</p>
    </div>
</footer>